<div class="card my-3">
  <div class="card-body bg-light text-start">
  <h5 class="card-title">
      <a class="text-decoration-none" data-id="{{id}}" href="/blog/{{blog.id}}">
      <span class="text-dark">{{title}}</span>
      </a> 
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{content}}</li>
    
   <li class="list-group-item text-end"><span for="img" aria-label="stoploss">✍️</span> Author by: {{user.username}} post on {{format_date createdAt}}</li>
  </ul>
  {{#if canDelete}}
  <div class="card-body text-center">
      <button id="delete-blog" data-id="{{id}}"  type="button" class="btn btn-link" >Delete</button> 
      <button id="edit-blog" data-id="{{id}}"  type="button" class="btn btn-link" ><a href ="/edit/{{id}}">Edit</a></button>
      
  </div>
  {{/if}}
</div>


<script src='/js/delete.js'></script>
