<div class="card my-3">
  <div class="card-body bg-light text-center">
  <h5 class="card-title">
      <a class="text-decoration-none" data-id="{{id}}" href="/blog/{{blog.id}}">
      <span class="text-dark">{{title}}</span>
      </a> 
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{content}}</li>
    
   <li class="list-group-item"><span for="img" aria-label="stoploss">✍️</span> Author by: {{user.username}} post on {{format_date createdAt}}</li>
  </ul>
  {{#if canDelete}}
      <a id="delete-alert" data-id="{{id}}" class="btn btn-link text-start" >Delete</a>
      
  {{/if}}
</div>
{{#if closed_price}} 

{{else}}
  {{#if canDelete}}
  <hr>
<section class="container">
<div class="col">
    <div class="card my-1" style="width: 18.3rem; ">
  <div class="card-body bg-light text-center">
      <h3 class="card-title text-center">Closed Your Alert!</h3>
  </div>
  <form>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span for="img" aria-label="price">🛍</span> 
    <select class="form-input" type="text" id="closed-entry" required="">
            <option value="none" selected disabled hidden>SELECT AN OPTION</option>
            <option value="SELL TO CLOSE">Sell To Close (Long⬆)</option>
            <option value="BUY TO CLOSE">Buy To Close (Short⬇)</option>
    </select>
    <li class="list-group-item"><span for="img" aria-label="price">💲</span> Enter Close Price: <input class="form-input" type="text" id="closed-price" required="" />
    </li>
    <li class="list-group-item">
      <input id="close-alert-submit" data-id="{{id}}" class="btn btn-primary text-end" type="submit" value="Submit">
    </li>
    
  </ul>
  </form>
</div>
  </div>
       
    </section>
    {{ else}}
    <center> Only <b>{{user.username}}</b> can closed this alert</center>
      {{/if}}
<script src='/js/closedalert.js'></script>
{{/if}}

<script src='/js/deletealert.js'></script>
